/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: "Lora", serif;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  color: #fff;
  background-size: cover;

  background-color: rgb(0, 0, 0);
  background-image: url(./images/CSUF_Background.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

img {
  width: 100%;
  display: block;
}

/* HEADER SECTION */
header {
  background-color: #00274c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgb(0, 39, 76);
  background: -o-radial-gradient(circle,
      rgb(0, 39, 76) 53%,
      rgba(225, 112, 0) 100%);
  background: radial-gradient(circle,
      rgb(0, 39, 76) 53%,
      rgba(225, 112, 0) 100%);
}

header h1 {
  content: "";
  /* border-bottom: 1px solid #e17000; */
  width: 100%;
  /* position: relative; */
  text-align: center;
}

header a {
  text-decoration: none;
  color: #ffff;
}

header a:hover,
header a:focus {
  color: #e17000;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked+.label .ball {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.label {
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 50px;
  padding: 5px;
  height: 26px;
  width: 50px;
  margin: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.fa-moon {
  font-size: 1rem;
  color: #f1c40f;
}

.fa-sun {
  font-size: 1rem;
  color: #f39c12;
}

/* TYPING CONTAINER */

#main-title {
  color: #ffffff;
  font-size: 2em;
  font-weight: bolder;
  text-shadow: 1px 2px 1px #000000a4;
}

.quote-display {
  text-align: center;
  /* color: #ffab4c; */
  font-weight: 900;
  background-color: #ffffffd7;
  color: #000000;
  border-radius: 40px;
  padding: 2rem;
}

.typing-container {
  font-size: 1.4rem;
  font-family: "Ubuntu", sans-serif;
  margin: 0em 5rem;
  margin-top: 1em;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* to center it */
  border-radius: 80px;
  position: relative;
}

.stats {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #e17000e8;
  border-radius: 80px;
  padding: 0.4em;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

#wordspermin {
  font-weight: bolder;
  /* text-shadow: 1px 3px 1px #000000a4; */
  padding: 0px 1em 0px;
  display: inline-block;
}

.timer {
  font-weight: bolder;
  font-size: 1.5rem;
  /* text-shadow: 1px 3px 1px #000000a4; */
  margin-right: 0.5em;
  display: inline-block;
}

.restartButton {
  font-weight: bolder;
  margin: 0 0.5em 0 2em;
  display: inline-block;
  font-size: 1.5rem;
}

#restartButton {
  cursor: pointer;
  font-family: "Lora", serif;
  border: none;
  background: transparent;
  color: rgb(255, 255, 255);
}

#timerDD {
  cursor: pointer;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#word-count {
  font-size: 1em;
  padding: 0px 1em 0px;
  display: inline-block;
}

#character-count {
  font-size: 1em;
  padding: 0px 1em 0px;
  display: inline-block;
}

#error-count {
  font-size: 1em;
  padding: 0px 1em 0px;
  display: inline-block;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0s 0.5s, opacity 0.5s linear;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.blinking {
  -webkit-box-shadow: 0.12em 0 0 #000000;
  box-shadow: 0.12em 0 0 #000000;
  -webkit-animation: blink 0.8s linear 0.5s infinite;
  animation: blink 0.8s linear 0.5s infinite;
}

@-webkit-keyframes blink {
  from {
    -webkit-box-shadow: 0.12em 0 0 #000000;
    box-shadow: 0.12em 0 0 #000000;
  }

  to {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@keyframes blink {
  from {
    -webkit-box-shadow: 0.12em 0 0 #000000;
    box-shadow: 0.12em 0 0 #000000;
  }

  to {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* written by salem */

/* .textcolor {
  color: #ffffff;
} */

/* for timer options background */
.backcolor {
  cursor: pointer;
  font-size: 1.2rem;
  border-style: solid;
  background-color: #e17000e8;
  color: rgb(255, 255, 255);
}

#restartButton:hover {
  color: rgb(0, 39, 76);
  border-color: rgb(0, 39, 76);
}

.bg-modal {
  width: 100%;
  height: 100%;
  
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

#modal-id {
  display: none;
}

.modal-content {
  width: 550px;
  height: 380px;
  background-color: #e17000;
  border-radius: 80px;
  text-align: center;
  color: #ffffff;
  justify-content: normal;
  padding: 20px;
  font-size: 0.8rem;
}

.charCount {
  padding: 0px 20px 0px;
  display: inline-block;
}

.wordsTyped {
 
  display: block;
}

.wpm {
  display: block;
  width: 100%;
  
  font-size: 2.5rem;
}

.play-again-button {
  background-color: #00274c;
  /* Green */

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  width: 440px;
}

.play-again-button:hover {
  cursor: pointer;
  background-color: #0bd476;
}



/* dark mode */

body.dark {
  margin: 0;
  font-family: "Lora", serif;
  color: #ffffffd7;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  background-image: url(./images/nightsky.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}

body.dark header {
  background-color: #ffffffd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: -o-radial-gradient(circle, rgb(0, 0, 0) 53%, rgb(66, 66, 71) 100%);
  background: radial-gradient(circle, rgb(0, 0, 0) 53%, rgb(66, 66, 71) 100%);
}

body.dark header a {
  color: #ffffffd7;
}

body.dark .stats {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(8, 8, 8, 0.671);
  border-radius: 80px;
  padding: 0.4em;
}

body.dark .quote-display {
  text-align: center;
  /* color: #ffab4c; */
  font-weight: 900;
  background-color: #d5d5da5d;
  color: #000000;
  border-radius: 40px;
  padding: 2rem;
}

body.dark #main-title {
  color: #ffffffd7;
  font-size: 2em;
  font-weight: bolder;
  text-shadow: 1px 2px 1px #000000;
}

body.dark .modal-content {
  width: 550px;
  height: 300px;
  background-color: #000000;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  font-size: 0.8rem;
}

body.dark .play-again-button {
  background-color: #ffffffd7;
  /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  width: 100%;
}

body.dark .backcolor {
  cursor: pointer;
  font-size: 1.2rem;
  border-style: solid;
  background-color: #000000e8;
  color: rgb(255, 255, 255);
}

body.dark #restartButton {
  cursor: pointer;
  font-family: "Lora", serif;
  border-style: solid;
  background-color: #000000e8;
  color: rgb(255, 255, 255);
}

body.dark #restartButton:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(254, 255, 255);
}

/* media queries */
@media only screen and (max-width: 1000px) {
  .typing-container {
    font-size: 1.1rem;
    font-family: "Ubuntu", sans-serif;
    margin: 0em 2rem;
    margin-top: 0.5em;
    padding: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 60px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  #main-title {
    text-align: center;
  }

  .typing-container {
    font-size: 1rem;
    margin: 0em 1rem;
    margin-top: 0em;
    padding: 0.5em;
  }

  .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .timer {
    font-weight: bolder;
    font-size: 2rem;
    margin: 0.6em;
    padding: 0em;
    display: inline-block;
    margin-bottom: 0.5em;
  }

  .restartButton {
    font-weight: bolder;
    padding-top: 0.4em;
    margin: 0 0em 0 0em;
    display: inline-block;
    font-size: 2rem;
  }

  #restartButton {
    padding: 1rem;
  }
}

/* 
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
*/